<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJs</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@2.6.14"></script>
</head>
<body>
    <div id="vue-app">
   

            <!--  2 way data binding  -->
            <h1> Keyboard events </h1>
            <label>Name:</label>
            <input type="text" v-model="name"/>
            <span>{{name}}</span>
            <label >Age:</label>
            <input type="text" v-model="age"/> 
            <span>{{age}}</span>


    </div>
    <script src="app.js"></script>
</body>
</html>